
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #f4f7f9;
    font-size: 14;
	line-height: 1;
}
a{
    display: block;
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    width: 1300px;
    margin: 0 auto;

}
.header{
    height: 60px;
    background: #141618;
}
.header .container{
    display: flex;
    height: 60px;
    align-items: center;
}
.header .logo{
    margin-right: 40px;
}
.header .menu ul li a i{
    margin-right: 5px;
}
.header .menu ul li a{

    color: rgba(255,255,255,.8);
    line-height: 60px;
}
.header .menu ul li a:hover{
    color: rgba(255,255,255);
}
.header .search{
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    margin-left: auto;
    margin-right: 15px;
}
.header .search input{
    height: 34px;
    border: none;
    background-color: #21252d;
    padding: 0 10px;
}
.header .search input::placeholder{
  
    color: rgba(255,255,255,.8);
    
}
.header .search button{
    height: 34px;
    width: 34px;
    cursor: pointer;
    background-color: #21252d;
    color: #ffffff;
}
.header .search button:hover{
    background-color: #316aff;
}
.header .login-buttons ul{
    display: flex;
}
.header .login-buttons a{
    line-height: 34px;
    color: rgba(255,255,255,.8);
    padding: 0 15px;
}
.header .login-buttons a:hover{
    color: #ffffff;
}
.header .login-buttons .join-now-btn{
    background-color: #36855b;
    border-radius: 4px;
}


/* BANNER SECTION */
.banner{
    max-height: 50vh;
    background: linear-gradient(70deg, #212a39, #181e28);
}
.banner .container{
    max-width: 50vh;
    display: flex;
    padding: 50px 0;
    align-items: center;
}
.banner .container .banner-box{
    width: 50%;
}
.banner .container .banner-box a:hover{
    transform: scale(1.03);
    transition: 200ms all;
}
.banner .container .banner-box img{
    margin-left: 150px;
}
.banner .banner-box h1{
    font-size: 36px;
    color: #ffffff;
}
.banner .banner-box h2{
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 24px;
    color: #ffffff;
}
.banner .banner-btn{
    cursor: pointer;
    background-color: #316aff;
    border-radius: 4px;
    border: none;
    padding: 10px;
    color: #ffffff;
    letter-spacing: 1px;
}
.body-section{
    align-items: center;
    padding: 21px;
    display: flex;
}
.body-section .lang{
    width: 392px;
    min-width: 392px;
    display: flex;
    justify-content: space-between;
}
.body-section .lang a{
    width: 184px;
    height: 184px;
    background-color: #ffffff;
    border-radius: 4px;
    margin: 24px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-section .lang a:hover{
    transform: scale(1.03);
    transition: 200ms all;
}

.body-section .lang a img{
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
}
.body-section .lang a span{
    font-size: 18px;
}
.body-section .lang,.inner{
    width: 50%;

}

.body-section .inner h1{
    font-size: 36px;
    margin-bottom: 30px;
}
.body-section .inner p{
    font-size: 18px;
    padding: 10px;
    line-height: 28px;
}
/* TESTIMONIALS SECTION */
.testimonials{
    background-color: #ffffff;
    padding: 100px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    padding: 64px 96px;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
}
.testimonials .icon{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials i{
    color: #e5ecf0;
    background-color: #f4f7f9;
    padding: 24px;
    border-radius: 34px;
}
.testimonials p{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 32px;
}
.testimonials img{
    border-radius: 64px;
    margin-bottom: 10px;
}
.testimonials .user{
    align-items: center;
    display: flex;
    flex-direction: column;
}
/* COMMENTS */
.comments{
    display: flex;
    align-items: center;
}
.comments .text h1{
    font-size: 36px;
    margin-bottom: 10px;
}
.comments .text p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}
.comments .text .comments-btn{
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: #ffffff;
    background-color: #36855b;
}
.comments .image img{
    width: 100%;
}